{% extends "base.html.twig" %}


{% block photo %}
	{# <div style="width: 50px; height: 50px; background: url({{movie.image}})"></div> #}

{% endblock %}

{% block content %}

	{% for movie in movies %}
		<article>
			<img src="{{movie.image}}" alt="No picture">
			<h2>{{ movie.titre }}</h2>
			<p>date de sortie :
				{{ movie.annee }}
				genre :  
				{{ movie.genre }}
			</p>
		</article>
	{% endfor %}

{% endblock %}



{% block form %}
<form action="/genre" method="post">
	<select name="value">
		<option value="">Tous les films</option>
		<option value="Action">Action</option>
		<option value="Horror">Horror</option>
		<option value="Crime">Crime</option>
		<option value="Guerre">Guerre</option>
		<option value="Drama">Drama</option>
		<option value="Western">Western</option>
		<option value="Science Fiction">Science Fiction</option>
		<option value="Fantasy">Fantasy</option>
	</select>
	<input type="submit" name="submit">
</form>
<form action="/" method="post"></form>


<form action="/search" method="post">
	<input type="text" name="search" placeholder="Rechercher par nom">
	<input type="submit" name="submit" value="Rechercher">
</form {% endblock %}
